[Unit]
Description=TCPDump Service
After=network.target

[Service]
ExecStart=/usr/bin/tcpdump -i eth0 -w /home/tsec/PCAP/capture.pcap

[Install]
WantedBy=multi-user.target