[Unit]
Description=TCPDump Service
After=network.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/tcpdump -i eth0 -w /home/tsec/PCAP/capture.pcap
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target